
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, Roboto, 'Segoe UI', BlinkMacSystemFont Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #493ED1;
}

.form{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}

.form input[type=email],
.form input[type=text]{
    padding-left: 10px;
    display: block;
    font-size: 15px;
    border-radius: 35px;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    height: 30px;
    background-color: #E3E4ED;
    border: 1px solid #E3E4ED;
}

.form textarea{
    padding: 11px;
    margin: 10px auto;
    resize: vertical;
    display: block;
    font-size: 15px;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    height: 120px;
    background-color: #E3E4ED;
    border: 1px solid #E3E4ED;
}

.form input[type=submit]{
    padding-left: 10px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 35px;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    cursor: pointer;
    color: #1c1764;
    background-color: #E3E4ED;
    height: 30px;
    border: 0;
}

.form input[type=submit]:hover{
    background-color: #1c1764;
    color: #E3E4ED;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 7%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #221A78;
    box-shadow: 0px 3px 5px rgba(0, 0, 119, 0.452);
}

header .logo {
    position: relative;
    max-width: 45px;
    right: 77px

}


header .navegation ul{
    position: relative;
    display: flex;
}

header .navegation  li{
    list-style: none;
}

header .navegation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    padding-inline: 20px;
    text-decoration: none;
    font-size: 19px;
}
